input[type="submit"] {
    display: inline-block;
    color: var(--color-text-light);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: var(--color-accent-yellow); 
    color: var(--color-dark-bg);
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 15px 20px; 
    border-radius: 10px; 
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    width: 90%;
    max-width: 500px;
    background: var(--color-dark-bg);
    padding: 1% 2% 2% 2%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

form label, form input {
    margin: 1% 0 1% 0;
}

form .error-message {
    display: none;
    font-size: 14px;
    color: var(--color-text-red);
    margin-top: -10px;
}

form input {
    transition: 0.25s ease;
}

form input:invalid {
    border-color: var(--color-border-red);
    background: var(--color-dred-bg);
}

form input:valid {
    border-color: var(--color-border-green);
    background: var(--color-dgreen-bg);
}

nav img {
    background-color: var(--color-yellow-bg);
    border-radius: 100%;
}

.menu-toggle {
    display: none; 
    cursor: pointer;
    background: none;
    border: none;
    font-size: 2em;
    color: var(--color-accent-yellow);
    padding: 5px;
    line-height: 1;
}

@media (max-width: 576px) {
    .menu-toggle {
        display: block;
    }

    .mobile-menu {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: var(--color-dark-bg);
        z-index: 1000;
        display: none; 
        flex-direction: column;
        text-align: center;
        padding: 10px 0;
    }

    .mobile-menu a {
        display: block;
        padding: 15px;
        color: var(--color-text-light);
        font-weight: 600;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    nav.open-menu a {
        display: block !important;
        margin: 10px 0;
        width: 100%;
    }
}